<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="form-row">

        <div class="form-group col-md-12">
          <label for="firstName">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="">
        </div>

        <div class="form-group col-md-12">
          <label for="lastName">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control"id="lastName"  placeholder="">
        </div>


      <div class="form-group col-md-12">
        <label for="inputEmail4">Email</label>
        <input type="email" formControlName="email" class="form-control" id="inputEmail4">
      </div>


        <div class="form-group col-md-12">
          <label for="country">Country</label>
          <select id="country" formControlName="country" class="form-control">
            <option  >Choose...</option>
            <option *ngFor="let item of countres" [value]="item.id">{{item.name}}</option>
          </select>
        </div>


        <div class="form-group col-md-12">
          <label for="city">City</label>
          <select id="city" formControlName="city" class="form-control">
            <option  *ngFor="let item of filteredCities" [value]="item.id" >{{item.name}}</option>
          </select>
        </div>

      <div class="form-group col-md-12">
        <label for="inputPassword4">Password</label>
        <input type="password" formControlName="password" class="form-control" id="inputPassword4">
      </div>

      <div class="form-group col-md-12">
        <label for="inputPassword4">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" formControlName="agree" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          I agree to the terms of user
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >Sign in</button>
  </form>

</div>


